body {
    background-color: #2a2a2e;
}
footer { 
    display: block;
    position: center;
    color: white;
    bottom:0px;
    width: 100%

}
.songList {
    text-align: center;
}

.songList > iframe {
    padding: 15px;
}