body {
    background-color: #2a2a2e;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    height: 100%;
}
footer { 
    display: block;
    position: center;
    color: white;
    bottom:0px;
    width: 100%

}
.songList {
    text-align: center;
    overflow-y: scroll;
    height: 800px;
    width: 95%;
}

.songList > iframe {
    padding: 15px;
}

#navbar-logo {
    width: 5%;
}