body {
    background-color: lightblue;
}
footer { 
  display: block;
  position:center;
    bottom:0px;
    width: 100%
}
.songList {
    text-align: center;
}

.songList > iframe {
    padding: 15px;
}